<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MLEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MLEngine.Properties.Settings>
            <setting name="trydelit" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_firstbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_firstbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_firstbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_firstbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_firstbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_secondbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_secondbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_secondbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_secondbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_secondbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_thirdbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_thirdbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_thirdbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_thirdbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_thirdbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_fourthbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_fourthbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_fourthbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_fourthbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_fourthbin" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_firstmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_firstmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_firstmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_firstmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_firstmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_secondmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_secondmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_secondmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_secondmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_secondmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_thirdmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_thirdmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_thirdmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_thirdmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_thirdmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_fourthmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_fourthmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_fourthmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_fourthmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_fourthmulti" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_firstreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_firstreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_firstreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_firstreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_firstreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_secondreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_secondreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_secondreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_secondreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_secondreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_thirdreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_thirdreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_thirdreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_thirdreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_thirdreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_data_fourthreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_train_fourthreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_test_fourthreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_model_fourthreg" serializeAs="String">
                <value />
            </setting>
            <setting name="fname_valid_fourthreg" serializeAs="String">
                <value />
            </setting>
            <setting name="models_path" serializeAs="String">
                <value />
            </setting>
            <setting name="splitParts" serializeAs="String">
                <value />
            </setting>
            <setting name="trainTime" serializeAs="String">
                <value />
            </setting>
        </MLEngine.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
